{% load static %}

    <link rel="shortcut icon" href="{% static 'home/assets/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'home/assets/img/icon.png' %}">

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'home/assets/css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'home/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/card/card.css' %}">