  {% load static %}
  <footer class="footer bg-color pt--70 pt-xs--60" data-bg-color="#042d41">
            <div class="container">
                <div class="row border-bottom pb--60 pb-sm--28 pb-xs--49">
                    <div class="col footer-column-1 mb-sm--42">
                        <div class="footer-widget">
                            <div class="textwidget">
                                <figure class="footer-logo mb--10">
                                    <img src="{% static 'home/assets/img/logo/logo.png' %}" alt="Logo">
                                </figure>
                            </div>
                            <div class="address-widget">
                                <address>{{site_data.address}}</address>
                                <a href="tel:{{site_data.phone_number}}">{{site_data.phone_number}}</a>
                                <a href="mailto:{{site_data.email}}">{{site_data.email}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col footer-column-2 mb-md--33">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--15">Store Menu</h3>
                            <ul class="footer-menu">
                                <li>
                                    <a href="shop.html">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Best Seller</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <i class="fa fa-angle-right"></i>
                                        <span>New Arrivals</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Men</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Women</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Accessories</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col footer-column-3 mb-sm--33">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--15">Information</h3>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>About Us</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Delivery Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Privacy Policy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Terms &amp; Conditions</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Look Books</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col footer-column-4 mb-xs--33">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--15">Question</h3>
                            <div class="footer-widget">
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Help</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-tracking.html">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Track Order</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Support</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop.html">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Shopping &amp; Delivery</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right"></i>
                                            <span>FAQs</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col footer-column-5">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--15">My Account</h3>
                            <ul class="footer-menu">
                                <li>
                                    {% if user.is_authenticated %}
                                    <a href="{% url "shop:account" %}" class="toolbar-btn">
                                        <i class="fa fa-angle-right"></i>
                                        <span>My Account</span>
                                    </a>
                                    {% else %}
                                        <a href="{% url "shop:signup" %}" class="toolbar-btn">
                                                <span>Login</span>
                                        </a>
                                     {% endif %}
                                </li>
                                <li>
                                    <a href="order-tracking.html">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Order Delivery</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="wishlist.html">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Wishlist</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Newsletter</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row ptb--20">
                    <div class="col-12 text-center">
                        <p class="copyright-text">{{site_data.site_name}} &copy; 2019 all rights reserved</p>
                        <div class="social space-10">
                            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-facebook"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-linkedin"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="social__link">
                                <i class="fa fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>